# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
PoseidonApp

# CMake junk (The big one)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
build/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
compile_commands.json